<nav class="navbar navbar-dark bg-dark fixed-top" >

   <!--offcanvas trigger-->
  
 <button 
    class="navbar-toggler ms-2" 
    type="button" 
    data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvasExample"
    aria-controls="offcanvasExample"
  >
    <span class="navbar-toggler-icon" data-bs-target="#offcanvasExample"></span>
 </button>
  <!--offcanvas trigger-->
  
  <a href="/" class="navbar-brand mx-auto" >
      <img src="/img/nav_img.svg" class="navbarIcon" width="40" height="40">
  </a>

  <form class="d-flex me-2">
    <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
  </form>

 
</nav>