<%- include ('./partials/header') %>

<%- include ('./partials/navbar') %>

<div class="container">

<hr>
<h1>Lorem Ipsum</h1>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a pretium velit, id dapibus turpis. Curabitur erat ante, convallis vel purus in, tincidunt feugiat odio. Maecenas pretium quis lorem sed congue. In imperdiet, elit ac bibendum luctus, massa diam euismod ante, vel varius felis lectus sit amet lorem. Mauris scelerisque, mi ac feugiat rutrum, lectus est bibendum mi, et volutpat mi tortor pulvinar ante. In hac habitasse platea dictumst. Praesent molestie tortor id quam pulvinar pretium quis et ipsum. Phasellus convallis velit pharetra mauris fermentum lacinia. Maecenas at facilisis lorem, et fermentum diam. Suspendisse consectetur felis quis sapien scelerisque, dapibus vestibulum dui congue.</p>
<hr>
</div>


<%- include ('./partials/footer') %>